### Work With CSV File

In [1]:
import pandas as pd

### 1. Opening a local CSV file

In [9]:
df = pd.read_csv('data/placement.csv')

In [28]:
df.head(3)

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA
2    Benin  AFRICA

### 2. Opening a CSV file from an URl

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv')

In [11]:
import requests
from io import StringIO

url = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)

In [27]:
df.head(3)

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA
2    Benin  AFRICA

### CSV to TSV

In [22]:
save_tsv = pd.read_csv('data/Pakistan_Population.csv')

pd.DataFrame.to_csv(save_tsv, 'data/Pakistan_Population.tsv', sep='\t', index=False)

In [26]:
pd.read_csv('data/Pakistan_Population.tsv').head(3)

  PROVINCE\tDIVISION\tDISTRICT\tSUB DIVISION\tAREA (sq.km)\tALL SEXES (RURAL)\tMALE (RURAL)\tFEMALE (RURAL)\tTRANSGENDER (RURAL)\tSEX RATIO (RURAL)\tAVG HOUSEHOLD SIZE (RURAL)\tPOPULATION 1998 (RURAL)\tANNUAL GROWTH RATE (RURAL)\tALL SEXES (URBAN)\tMALE (URBAN)\tFEMALE (URBAN)\tTRANSGENDER (URBAN)\tSEX RATIO (URBAN)\tAVG HOUSEHOLD SIZE (URBAN)\tPOPULATION 1998 (URBAN)\tANNUAL GROWTH RATE (URBAN)
0  PUNJAB\tBAHAWALPUR DIVISION\tBAHAWALNAGAR DIST...
1  PUNJAB\tBAHAWALPUR DIVISION\tBAHAWALNAGAR DIST...
2  PUNJAB\tBAHAWALPUR DIVISION\tBAHAWALNAGAR DIST...

In above code issue is the TSV file open in CSV format that way its through unexpected format the correct way is this use sep='\t' to open TSV file in correct format

In [25]:
pd.read_csv('data/Pakistan_Population.tsv', sep='\t').head(3)

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06

### `index_col` parameter <br>
This parameter is used to set the name of the columns which is to be used as row index or we can say row labels. If we don’t set anything here, by default first column is considered as row index. If we don’t want any column as a row index we can set it as None.

In [ ]:
# pd.read_csv('data/Pakistan_Population.csv', index_col='')

### Header parameter <br>
This parameter is used to specify row number to use as the column names, and the start of the data. Default value is 0. If we don’t want any row as column name we can set it as None. If we want to skip some rows from being column name we can pass the row number as a list.

In [ ]:
# pd.read_csv('data/Pakistan_Population.csv', header=name or no of that specific row)

### `use_col` parameter <br>
This parameter is used to select the columns to be read from the CSV file. If we don’t specify anything here, all the columns will be read. If we want to read specific columns, we can pass the column names as a list.

In [32]:
pd.read_csv('data/Pakistan_Population.csv', usecols=['PROVINCE', 'DIVISION', 'AREA (sq.km)']) # more as need

     PROVINCE                   DIVISION  AREA (sq.km)
0      PUNJAB        BAHAWALPUR DIVISION        1729.0
1      PUNJAB        BAHAWALPUR DIVISION        1500.0
2      PUNJAB        BAHAWALPUR DIVISION        2536.0
3      PUNJAB        BAHAWALPUR DIVISION        1295.0
4      PUNJAB        BAHAWALPUR DIVISION        1818.0
..        ...                        ...           ...
523  KPK/FATA  DERA ISMAIL KHAN DIVISION         813.0
524  KPK/FATA  DERA ISMAIL KHAN DIVISION         398.0
525  KPK/FATA  DERA ISMAIL KHAN DIVISION         734.0
526  KPK/FATA  DERA ISMAIL KHAN DIVISION         567.0
527  KPK/FATA  DERA ISMAIL KHAN DIVISION        2315.0

[528 rows x 3 columns]

### Squeeze parameter <br>

In [39]:
# Load the CSV without the 'squeeze' argument
df = pd.read_csv('data/Pakistan_Population.csv', usecols=['PROVINCE'])

# Manually squeeze the DataFrame to convert it to a Series if it has a single column
series = df.squeeze()

print(series)

0        PUNJAB
1        PUNJAB
2        PUNJAB
3        PUNJAB
4        PUNJAB
         ...
523    KPK/FATA
524    KPK/FATA
525    KPK/FATA
526    KPK/FATA
527    KPK/FATA
Name: PROVINCE, Length: 528, dtype: object

### Skip rows `skiprows` Parameter<br>

In [43]:
pd.read_csv('data/Pakistan_Population.csv' , skiprows=2).head(3)

,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.3,6.01,102287,2.01
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,101.30,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,104.67,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48

### `nrows` Parameter<br>

This parameter is used to specify the number of rows to be read from the CSV file. If we don’t specify anything here, all the rows will be read. If we want to read specific number of rows, we can pass the number of rows as an integer.

In [48]:
pd.read_csv('data/Pakistan_Population.csv', nrows=10)

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729,619550,316864,302644,42,104.70,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536,361240,182655,178541,44,102.30,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295,382115,192278,189808,29,101.30,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818,452723,231506,221178,39,104.67,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48
5,PUNJAB,BAHAWALPUR DIVISION,BAHAWALPUR DISTRICT,AHMADPUR EAST TEHSIL,1738,902476,461525,440889,62,104.68,...,601406,2.16,176110,90003,86081,26,104.56,6.28,116891,2.18
6,PUNJAB,BAHAWALPUR DIVISION,BAHAWALPUR DISTRICT,BAHAWALPUR CITY TEHSIL,1490,0,0,0,0,0.00,...,62916,0.00,682116,350186,331842,88,105.53,5.91,356626,3.47
7,PUNJAB,BAHAWALPUR DIVISION,BAHAWALPUR DISTRICT,BAHAWALPUR SADDAR TEHSIL,745,467938,239541,228346,51,104.90,...,314428,2.11,107948,62009,45927,12,135.02,5.98,72610,2.11
8,PUNJAB,BAHAWALPUR DIVISION,BAHAWALPUR DISTRICT,HASILPUR TEHSIL,1490,340747,171117,169620,10,100.88,...,246218,1.72,115613,57743,57853,17,99.81,6.09,71295,2.57
9,PUNJAB,BAHAWALPUR DIVISION,BAHAWALPUR DISTRICT,KHAIRPUR TAMEWALI TEHSIL,993,221431,112952,108476,3,104.13,...,157049,1.82,41492,20981,20507,4,102.31,5.75,26854,2.31

### Encoding parameter <br>

The `encoding` parameter is used when the CSV file contains non-ASCII characters. You specify the encoding format, such as `utf-8`, `latin1`, etc., depending on the file's encoding.

If you are unsure of the encoding, you can try `encoding='latin1'`, which can handle many cases where `utf-8` fails due to special characters.

In [53]:
df = pd.read_csv('data/Pakistan_Population.csv', encoding='utf-8')

### skip Bad line `on_bad_lines` <br>

This parameter is used to skip the bad lines in the CSV file. If we don’t specify anything here, the bad lines will be read as NaN. If we want to skip the bad lines, we can pass the skip_bad_lines as True."""

In [68]:
df = pd.read_csv('data/Pakistan_Population.csv', encoding='utf-8', on_bad_lines='skip')

### dtype Parameter <br>

This parameter is used to specify the data type of the columns. If we don’t specify anything here, the data type will be inferred. If we want to specify the data type, we can pass the data type as a dictionary. The key of the dictionary is the column name and the value is the data type.

In [90]:
df = pd.read_csv('data/Pakistan_Population.csv', dtype= {'PROVINCE': str, 'DIVISION': str, 'AREA (sq.km)': float})

In [89]:
# import pandas as pd

# # Step 1: Load the CSV without specifying dtype
# df = pd.read_csv('data/Pakistan_Population.csv')

# # Step 2: Convert the 'SEX RATIO (RURAL)' column to numeric, forcing non-numeric values to NaN
# df['SEX RATIO (RURAL)'] = pd.to_numeric(df['SEX RATIO (RURAL)'], errors='coerce')

# # Step 3: Handle NaN values, either fill them with a value (e.g., 0) or drop them
# df['SEX RATIO (RURAL)'].fillna(0, inplace=True)  # Replace NaNs with 0

# # Step 4: Convert the column to integers (Int64 for nullable integers)
# df['SEX RATIO (RURAL)'] = df['SEX RATIO (RURAL)'].astype('int64')

# df['SEX RATIO (RURAL)']

### Handling Dates <br>

The `parse_dates` parameter is used to convert the date columns to datetime format. If we don’t specify anything here, the date columns will be read as object type. If we want to convert the date columns to datetime format, we can pass the column names as a list.

### Convertors <br>

The `converters` parameter is used to apply a function to a column. If we don’t specify anything here, the columns will be read as is. If we want to apply a function to a column, we can pass the function as a dictionary. The key of the dictionary is the column name and the value is the function.

### na_values Parameter <br>

The `na_values` parameter is used to specify the values that should be considered as NaN. If we don’t specify anything here, the default values that are considered as NaN are `''`, `#N/A`, `#N/A N/A`, `#NA`, `-1.#IND`, `-1.#QNAN`, `-NaN`, `-nan`, `1.#IND`, `1.#QNAN`, `<NA>`, `N/A`, `NA`, `NULL`, `NaN`, `n/a`, `nan`, `null`."""

### loading a huge dataset in chunks <br>

The `chunksize` parameter is used to read the CSV file in chunks. If we don’t specify anything here, the whole file will be read at once. If we want to read the file in chunks, we can pass the `chunksize` as an integer. The `chunksize` is the number of rows to be read at once.

In [98]:
dfs = pd.read_csv('data/Pakistan_Population.csv', chunksize=100)

In [99]:
for chunks in dfs:
    print(chunks.shape)

(100, 21)
(100, 21)
(100, 21)
(100, 21)
(100, 21)
(28, 21)